.wljm-notification{
    position: fixed;
    top: 50px;
    right: 20px;
    z-index: 100;
}
.wljm-toast{
    position: relative;
    padding: 15px 45px 15px 45px !important;
    margin-bottom: 10px;
    width: auto;
    border-radius: 6px;
    animation: show 0.3s ease 1 forwards;
}

.wljm-toast .wljm-toast-msg{
    color: #fff;
    font-weight: bolder;
}
@keyframes show {
    0%{
        transform: translateX(100%);
    }
    40%{
         transform: translateX(-50%);
     }
    100%{
          transform: translateX(0%);
      }
}

.wljm-toast::before{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    content: '';
    animation: timeOut 3s linear 1 forwards;
}
@keyframes timeOut {
    to{
        width: 0;
    }
}
.wljm-toast.success::before{
    background: seagreen;
}
.wljm-toast.error::before{
    background: darkred;
}
.wljm-toast.success{
    background-color: rgba(91, 189, 114, 0.95);
}
.wljm-toast.error{
    border-left-color: rgba(217, 92, 92, 0.50);
    background-color: rgba(217, 92, 92, 0.95);
}
@keyframes hide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}